@import './assets/stylesheets/colors';
@import './assets/stylesheets/fonts';
@import './assets/stylesheets/mixins';



.main-wrapper {
  grid-area: main;
  position: relative;

  padding: 10px;
}

.sidebar-wrapper {
  grid-area: sidebar;

  padding: 0 20px;

  .search {
    margin-bottom: 20px;
  }

  .recommendation {
    background-color: $gray-bg-color;
    border-radius: 15px;

    &-title {
      @include roboto-bold();
      padding: 10px;

      font-size: 19px;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 10px 10px;
      border-top: 1px solid #D8D8D8;

      .item-logo {
        padding-right: 10px;

        img {
          border-radius: 100%;
        }
      }
      .item-wrapper {

        &_title {
          @include helvetica-bold();

          font-size: 15px;
        }
        &_name {
          color: $gray-color;
          font-size: 13px;
        }
      }
    }

    &-more {
      padding: 10px;
      border-top: 1px solid #D8D8D8;

      a {
        text-decoration: none;
        color: $blue-color;
        font-size: 15px;
      }
    }
  }

  .help-links {
    padding-top: 20px;
  }
}
