@import '../../../../assets/stylesheets/mixins';
@import '../../../../assets/stylesheets/fonts';
@import '../../../../assets/stylesheets/colors';

.post {
  @include border-light();
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-user {
    display: flex;
    align-self: flex-start;

    font-size: 15px;

    &_title {
      @include helvetica-bold();
      align-self: center;
      margin: 0 10px;
    }

    &_name {
      align-self: center;
      color: $gray-color;
    }
  }

  &-content {
    padding: 10px 20px 0;
    color: $base-color;
    font-size: 16px;
    line-height: 1.3;
  }
}